/* TRANSITIONS & ANIMATIONS */

/* 
      keyframes: {
        fadeInLeft: {
          "0%": { opacity: 0, transform: "translateX(20px)" },
          "100%": { opacity: 1, transform: "translateX(0px)" },
        },
        fadeInRight: {
          "0%": { opacity: 0, transform: "translateX(-20px)" },
          "100%": { opacity: 1, transform: "translateX(0px)" },
        },
      },
      animation: {
        fadeInLeft: "fadeInLeft 1s ease-in-out",
        fadeInRight: "fadeInRight 1s ease-in-out",
      }, */

:root {
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --font-size-large: 24px;
  --primary: #f1e8b8;
  --secondary: #f9e784;
  --accent: #e58f65;
  --secondAccent: #d05353;
  --background: #191919;
  --secondaryBg: #3b3b3b;
}

.fadeInLeft {
  animation: fadeInLeft 0.5s ease-in-out;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 50%;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.gradient-photo {
  background-image: url("./assets/experienceImg.jpg"); /* URL de tu imagen */
  background-size: cover; /* Ajustar imagen al tamaño del contenedor */
  background-position: center; /* Posición de la imagen */
  background-repeat: no-repeat;
  position: relative; /* Para posicionar el gradiente */
}

.gradient-photo::after {
  content: ""; /* Contenido generado */
  position: absolute; /* Posicionamiento absoluto */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.2) -2%,
    #191919 48%
  ); /* Máscara radial */
  pointer-events: none; /* Ignorar eventos de ratón */
  transition: all 1s ease-in-out;
}

.gradient-bg {
  clip-path: circle(21.1% at 50% 40%);
  transition: all 0.5s ease;
}

.gradient-bg.reached {
  clip-path: circle(72% at 50% 50%);
}

.dotted {
  opacity: 1;
  background-image: radial-gradient(
      var(--primary) 0.5px,
      rgba(0, 0, 0, 0.4) 0.5px
    ),
    radial-gradient(var(--primary) 0.5px, transparent 0.5px);
  background-size: 10px 10px;
  background-repeat: repeat;
}

.stripped {
  opacity: 1;
  background-size: 15px 15px;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    var(--primary) 1px,
    transparent 0,
    transparent 50%
  );
}
.dottedNoBg {
  opacity: 1;
  background-image: radial-gradient(var(--primary) 0.5px, transparent 0.5px),
    radial-gradient(var(--primary) 0.5px, transparent 0.5px);
  background-size: 10px 10px;
  background-repeat: repeat;
}
.circleCont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deformAnimation {
  transition: all 0.5s linear;
  animation: rotation 3s linear infinite reverse;
}

.deformAnimationRev {
  transition: all 0.5s linear;
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  0% {
    transform: matrix(
      0.9280848734541316,
      0.05703682562112785,
      -0.03229837997653869,
      1.0157443916946765,
      0,
      0
    );
  }
  25% {
    transform: matrix(
      0.9665689436629762,
      0.03404274139807876,
      0.06497426159074486,
      1.0064882077213013,
      0,
      0
    );
  }
  50% {
    transform: matrix(
      0.9280848734541316,
      0.05703682562112785,
      -0.03229837997653869,
      1.0157443916946765,
      0,
      0
    );
  }
  75% {
    transform: matrix(
      1.0445735709870982,
      0.054173667773738485,
      -0.03965332795335506,
      1.0725139339384282,
      0,
      0
    );
  }
  100% {
    transform: matrix(
      0.9280848734541316,
      0.05703682562112785,
      -0.03229837997653869,
      1.0157443916946765,
      0,
      0
    );
  }
}

.bouncing {
  animation: bouncing 1s ease-in-out infinite alternate;
}

@keyframes bouncing {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(1rem);
  }
}

.circleScrollAnimation {
  width: 15px;
  height: 15px;
  background-color: var(--primary);
  border-radius: 50%;
  animation: scroll 2s ease infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  25% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(-40px);
    opacity: 1;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}
